
@{
    ViewBag.Title = "Candidaturas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row mt-4">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lista de Candidaturas</h4>
                <h6 class="card-subtitle"><hr /></h6>
                <div class="table-responsive">
                    <table class="table user-table">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Nome Completo</th>
                                <th class="border-top-0">Província</th>
                                <th class="border-top-0">Área</th>
                                <th class="border-top-0">Data Registo</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{int conta = 1;}
                            @foreach (var candidatura in Model)
                            {
                                <tr>
                                    <td>@(conta++)</td>
                                    <td>@candidatura.Usuario.NomeCompleto</td>
                                    <td>@candidatura.Provincia.ProvinciaNome</td>
                                    <td>@candidatura.AreaCandidatura.AreaNome</td>
                                    <td>@candidatura.DataCadastro</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


