
@{
    ViewBag.Title = "Questionários";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<a href="@Url.Action("Create")" class="btn btn-info">Adicionar Novo</a>

<div class="row mt-4">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lista de Questionários</h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table class="table user-table">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Título</th>
                                <th class="border-top-0">Área</th>
                                <th class="border-top-0">Total de Perguntas</th>
                                <th class="border-top-0">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int conta = 1;}
                            @foreach (var questionario in Model)
                            {
                                <tr>
                                    <td>@(conta++)</td>
                                    <td>@questionario.Titulo</td>
                                    <td>@questionario.AreaCandidatura.AreaNome</td>
                                    <td>@questionario.TotalPerguntas()</td>
                                    <td>
                                        <a href="@Url.Action("Detalhes","QuestionarioAdmin")" class="btn btn-success text-white"><span class="mdi mdi-information"></span> Detalhes</a>
                                        <a href="@Url.Action("Create","QuestionarioAdmin", new { id = questionario.Id })" class="btn btn-info"><span class="fas fa-edit"></span> Editar</a>
                                        <a href="#" class="btn btn-danger"><span class="fas fa-trash-alt"></span> Eliminar</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
