@model ProjectoAlexa.Web.ViewModels.RegistarViewModel

@{
    ViewBag.Title = "Criar Conta";
}

<html>
<head>
    <title>@ViewBag.Title - MINEA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
</head>
<body class="criar-bg">

    <div class="row m-3">

        <div class="col-md-12">
            <center>
                <div class="col-md-8">
                    <div class="card text-left">
                        <div class="card-header bg-info text-white text-center">
                            <h2>@ViewBag.Title</h2>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5>Dados da Conta</h5>
                                            <hr />
                                        </div>
                                        <div class="col-md-5">

                                            <div class="form-group">
                                                <label>Email</label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                                    <small>
                                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                    </small>
                                                </div>
                                            </div>
                                        </div>


                                        <div class=" col-md-3">
                                            <div class="form-group">
                                                <label>Senha</label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.Senha, new { @class = "form-control", type = "password" })
                                                    <small>
                                                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                                                    </small>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Confirmar senha</label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.ConfirmarSenha, new { @class = "form-control", type = "password" })
                                                    <small>
                                                        @Html.ValidationMessageFor(model => model.ConfirmarSenha, "", new { @class = "text-danger" })
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5>Dados Pessoais</h5>
                                            <hr />
                                        </div>



                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Gênero</label>
                                                <div class="">
                                                    @*@Html.DropDownListFor(model => model.Genero,new SelectList(ViewBag.FonteDeDados,"Id","Descricao"), new { @class = "form-control" })*@
                                                    <small>
                                                        @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>
                                                    Data de Nascimento
                                                </label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.DataNascimento, new { @class = "form-control", type = "date" })
                                                    <small>
                                                        @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">

                                    @*<div class="col-md-6">
                                            <div class="form-group">
                                                <label>Certificado</label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.CertificadoHabilitacoes, new { @class = "form-control", type = "file" })
                                                    <small>
                                                        @Html.ValidationMessageFor(model => model.CertificadoHabilitacoes, "", new { @class = "text-danger" })
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Carta para o ministro</label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.CartaMinistro, new { @class = "form-control", type = "file" })
                                                    <small>
                                                        @Html.ValidationMessageFor(model => model.CartaMinistro, "", new { @class = "text-danger" })
                                                    </small>
                                                </div>
                                            </div>
                                        </div>*@

                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Registrar-se" class="btn btn-info" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </center>
        </div>

    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>

