<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MINEA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">MIN<span class="text-warning">E</span><span class="text-info">A</span> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Perfil","Usuario")"><span class="fas fa-home"></span>   Perfil do Candidato</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto mr-5">
                <li class="nav-item active">
                    <div class="dropdown">
                        <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="UsuarioAtualDados" class="fas fa-user-circle"></span> Seja bem-vindo(a)
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Perfil","Usuario")">Perfil</a>
                            @using (Html.BeginForm("LogOut", "Conta", new { Area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Sair</a>
                            }
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ministerio da Energia e Águas</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $('#dropdownMenuLink').load('/Usuario/UsuarioAtual', function () {

            });

            $('.alert').alert();

            $(document).ready(
                function () {
                    var ultimaCand = $('.UsuarioAtualDados');
                    debugger
                    if (ultimaCand != null && ultimaCand == '@DateTime.Now.Year') {
                        alert('Ultima candidatura foi em ' + ultimaCand);
                    }
                });


        });


    </script>
</body>
</html>
